.subscribe-form {
    padding: 40px 70px;
    &__title {
      max-width: 60%;
      margin: 20px auto 30px;
      font-size: 90px;
      line-height: 90px;
      font-weight: 600;
      text-align: center;
    }
    &__subtitle {
      font-size: 42px;
      line-height: 53px;
      text-align: center;
    }
    &__field {
        display: flex;
    }
  }
  
